pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
  overflow:   scroll;
}


pre  code {
  display: block;
  padding: 1.5em 1.5em;
  white-space: pre;
  font-size: .875rem;
  line-height: 2;

}

pre {
  background-color: #222;
  color: #ddd;
  white-space: pre;

  hyphens: none;
  position: relative;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pathway Gothic One';
  src: url('https://static.igem.wiki/teams/5057/fonts/pathwaygothicone-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('https://static.igem.wiki/teams/5057/fonts/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tilda';
  src: url('https://static.igem.wiki/teams/5057/fonts/tildasans-vf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Tilda', sans-serif;
}
p{
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.text-shadow {
  text-shadow: 0px 0px 10px rgba(27, 23, 27, 0.726);
}