
.teamname {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 30px;
  }
  
  .dropdown-content {
    min-width: 120px;
    left: 50%;
    transform: translateX(-50%);
    top: 62px;
  }
  
  @media screen and (max-width: 1070px) {
    .dropdown-content {
      top: 40px;
      background-color:#06d7fc;
    }
  }
  
  .dropdown-content a {
    background-color:  #06d7fc;
    color: white;
    border-top: 1px solid white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
  }
  
  .dropdown-content a:hover {
      background: #06d7fc;
      color: #f51889;
      border: 2px solid #f51889;
  }
  
  .dropdown.active .dropdown-content {
    display: block;
    }
  
  .dropdown.active .drop-triangle {
    transform: rotateX(180deg);
  }
  
  .drop-triangle {
      max-width: 1.5rem;
      pointer-events: none; /* This makes clicks pass through to the button */
      align-self: center;
    }
  
  .dropbtn {
      background-color: #06d7fc;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      display: flex; /* Make it a flex container */
      align-items: center; /* Center children vertically */
      justify-content: center; /* Center children horizontally (optional) */
    }

  
  /* Hide the hamburger icon by default */
  .hamburger-icon {
    display: none;
  }
  
  /* Show the navigation menu by default */
  .nav-menu {
    display: block;
  }
  
  /* Only show the hamburger icon and hide the navigation menu at a device width of 1070px or less */
  @media screen and (max-width: 1070px) {
    .hamburger-icon {
      display: block;
      background-color:transparent;
      position:absolute;
      align-items: center;
      border: none;
      top: 23px; 
      right: 15px;
    }
  
    .nav-menu {
      display: none;
    }
  
    .nav-menu.active {
      display: block;
    }
  }
  
  #title-on-img {
    font-size: clamp(3rem, 8vw, 12rem);
  }