<div class="zoom-parent">
  <div id="zoom-controls">
    <button id="zoom-in">+</button>
    <button id="zoom-out">-</button>
  </div>

  <div id="zoomable-container">
    
    <div id="zoomable-content">
      <div class="full-width-table">
        
        <table>
    
    <!-- row 1 -->
          <tr>
            <!-- 1 --><td class="has-popup" onclick="openPopup({{ .Get "t-gensch" }})">{{ .Get "gensch" }}</td>
            <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c1a.svg"></td>
            <!-- 3 --><td class="has-popup" onclick="openPopup({{ .Get "t-wimley" }})">{{ .Get "wimley" }}</td>
            <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lha.svg"></td>
            <!-- 5 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c1a.svg"></td>
            <!-- 6 --><td></td>
            <!-- 7 --><td></td>
            <!-- 8 --><td></td>
            <!-- 9 --><td></td>
            <!-- 10 --><td></td>
            <!-- 11 --><td></td>
            <!-- 12 --><td></td>
            <!-- 13 --><td></td>
            <!-- 14 --><td></td>
            <!-- 15 --><td></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td></td>
            <!-- 22 --><td></td>
            <!-- 23 --><td></td>
            <!-- 24 --><td></td>
            <!-- 25 --><td></td>
            <!-- 26 --><td></td>
            <!-- 27 --><td></td>
            <!-- 28 --><td></td>
            <!-- 29 --><td></td>
            <!-- 30 --><td></td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 2 -->
          <tr>
            <!-- 1 --><td></td>
            <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/v3a.svg"></td>
            <!-- 3 --><td>Principal Investigators</td>
            <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lha.svg"></td>
            <!-- 5 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/t4a.svg"></td>
            <!-- 6 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lha.svg"></td>
            <!-- 7 --><td>Plasmids</td>
            <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lha.svg"></td>
            <!-- 9 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lha.svg"></td>
            <!-- 10 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lha.svg"></td>
            <!-- 11 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lha.svg"></td>
            <!-- 12 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c1a.svg"></td>
            <!-- 13 --><td></td>
            <!-- 14 --><td></td>
            <!-- 15 --><td></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td></td>
            <!-- 22 --><td></td>
            <!-- 23 --><td></td>
            <!-- 24 --><td></td>
            <!-- 25 --><td></td>
            <!-- 26 --><td></td>
            <!-- 27 --><td></td>
            <!-- 28 --><td></td>
            <!-- 29 --><td></td>
            <!-- 30 --><td></td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 3 -->
          <tr>
            <!-- 1 --><td class="has-popup" onclick="openPopup({{ .Get "t-salavei" }})">{{ .Get "salavei" }}</td>
            <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c2a.svg"></td>
            <!-- 3 --><td class="has-popup" onclick="openPopup({{ .Get "t-heerklotz" }})">{{ .Get "heerklotz" }}</td>
            <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lha.svg"></td>
            <!-- 5 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/s6a.svg"></td>
            <!-- 6 --><td></td>
            <!-- 7 --><td></td>
            <!-- 8 --><td></td>
            <!-- 9 --><td></td>
            <!-- 10 --><td></td>
            <!-- 11 --><td></td>
            <!-- 12 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lva.svg"></td>
            <!-- 13 --><td></td>
            <!-- 14 --><td></td>
            <!-- 15 --><td></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c4w.svg"></td>
            <!-- 22 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhw.svg"></td>
            <!-- 23 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhw.svg"></td>
            <!-- 24 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhw.svg"></td>
            <!-- 25 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhw.svg"></td>
            <!-- 26 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhw.svg"></td>
            <!-- 27 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhw.svg"></td>
            <!-- 28 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhw.svg"></td>
            <!-- 29 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhw.svg"></td>
            <!-- 30 --><td class="has-popup" onclick="openPopup({{ .Get "t-dambach" }})">{{ .Get "dambach" }}</td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 4 -->
          <tr>
            <!-- 1 --><td></td>
            <!-- 2 --><td></td>
            <!-- 3 --><td class="has-popup" onclick="openPopup({{ .Get "t-hess" }})">{{ .Get "hess" }}</td>
            <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lha.svg"></td>
            <!-- 5 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c2a.svg"></td>
            <!-- 6 --><td></td>
            <!-- 7 --><td></td>
            <!-- 8 --><td></td>
            <!-- 9 --><td></td>
            <!-- 10 --><td></td>
            <!-- 11 --><td></td>
            <!-- 12 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c3a.svg"></td>
            <!-- 13 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lha.svg"></td>
            <!-- 14 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lha.svg"></td>
            <!-- 15 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c1a.svg"></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lvw.svg"></td>
            <!-- 22 --><td></td>
            <!-- 23 --><td></td>
            <!-- 24 --><td></td>
            <!-- 25 --><td></td>
            <!-- 26 --><td></td>
            <!-- 27 --><td></td>
            <!-- 28 --><td></td>
            <!-- 29 --><td></td>
            <!-- 30 --><td></td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 5 -->
          <tr>
            <!-- 1 --><td></td>
            <!-- 2 --><td></td>
            <!-- 3 --><td></td>
            <!-- 4 --><td></td>
            <!-- 5 --><td></td>
            <!-- 6 --><td class="has-popup" onclick="openPopup({{ .Get "t-does" }})">{{ .Get "does" }}</td>
            <!-- 7 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c1l.svg"></td>
            <!-- 8 --><td></td>
            <!-- 9 --><td></td>
            <!-- 10 --><td></td>
            <!-- 11 --><td></td>
            <!-- 12 --><td></td>
            <!-- 13 --><td></td>
            <!-- 14 --><td></td>
            <!-- 15 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lva.svg"></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lvw.svg"></td>
            <!-- 22 --><td></td>
            <!-- 23 --><td></td>
            <!-- 24 --><td></td>
            <!-- 25 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c4b.svg"></td>
            <!-- 26 --><td class="has-popup" onclick="openPopup({{ .Get "t-boldt" }})">{{ .Get "boldt" }}</td>
            <!-- 27 --><td></td>
            <!-- 28 --><td></td>
            <!-- 39 --><td></td>
            <!-- 30 --><td></td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 6 -->
          <tr>
            <!-- 1 --><td class="has-popup" onclick="openPopup({{ .Get "t-roemer" }})">{{ .Get "roemer" }}</td>
            <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c1p.svg"></td>
            <!-- 4 --><td></td>
            <!-- 5 --><td></td>
            <!-- 6 --><td class="has-popup" onclick="openPopup({{ .Get "t-tuemmler" }})">{{ .Get "tuemmler" }}</td>
            <!-- 7 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/t4l.svg"></td>
            <!-- 8 --><td>Pseudomonas aeruginosa</td>
            <!-- 9 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhl.svg"></td>
            <!-- 10 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhl.svg"></td>
            <!-- 11 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhl.svg"></td>
            <!-- 12 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhl.svg"></td>
            <!-- 13 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhl.svg"></td>
            <!-- 14 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhl.svg"></td>
            <!-- 15 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/s5al.svg"></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/s8wb.svg"></td>
            <!-- 22 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhb.svg"></td>
            <!-- 23 --><td>Safety and Ethics</td>
            <!-- 24 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhb.svg"></td>
            <!-- 25 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/v1b.svg"></td>
            <!-- 26 --><td></td>
            <!-- 27 --><td></td>
            <!-- 28 --><td></td>
            <!-- 29 --><td></td>
            <!-- 30 --><td></td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 7 -->
          <tr>
            <!-- 1 --><td class="has-popup" onclick="openPopup({{ .Get "t-munos" }})">{{ .Get "munos" }}</td>
            <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/s3p.svg"></td>
            <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c1p.svg"></td>
            <!-- 5 --><td></td>
            <!-- 6 --><td class="has-popup" onclick="openPopup({{ .Get "t-titz" }})">{{ .Get "titz" }}</td>
            <!-- 7 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c2l.svg"></td>
            <!-- 8 --><td></td>
            <!-- 9 --><td></td>
            <!-- 10 --><td></td>
            <!-- 11 --><td></td>
            <!-- 12 --><td></td>
            <!-- 13 --><td></td>
            <!-- 14 --><td></td>
            <!-- 15 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lvl.svg"></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lvb.svg"></td>
            <!-- 22 --><td></td>
            <!-- 23 --><td></td>
            <!-- 24 --><td></td>
            <!-- 25 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c3b.svg"></td>
            <!-- 26 --><td class="has-popup" onclick="openPopup({{ .Get "t-agt" }})">{{ .Get "agt" }}</td>
            <!-- 27 --><td></td>
            <!-- 28 --><td></td>
            <!-- 29 --><td></td>
            <!-- 30 --><td></td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 8 -->
          <tr>
            <!-- 1 --><td class="has-popup" onclick="openPopup({{ .Get "t-makshakova" }})">{{ .Get "makshakova" }}</td>
            <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/t4p.svg"></td>
            <!-- 5 --><td>Liposomes</td>
            <!-- 6 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 7 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 9 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 10 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 11 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 12 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 13 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 14 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 15 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/s5lp.svg"></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lvb.svg"></td>
            <!-- 22 --><td></td>
            <!-- 23 --><td></td>
            <!-- 24 --><td></td>
            <!-- 25 --><td></td>
            <!-- 26 --><td></td>
            <!-- 27 --><td></td>
            <!-- 28 --><td></td>
            <!-- 29 --><td></td>
            <!-- 30 --><td></td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 9 -->
          <tr>
            <!-- 1 --><td class="has-popup" onclick="openPopup({{ .Get "t-heerklotz" }})">{{ .Get "heerklotz" }}</td>
            <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/s4p.svg"></td>
            <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c2p.svg"></td>
            <!-- 5 --><td></td>
            <!-- 6 --><td></td>
            <!-- 7 --><td></td>
            <!-- 8 --><td></td>
            <!-- 9 --><td></td>
            <!-- 10 --><td></td>
            <!-- 11 --><td></td>
            <!-- 12 --><td></td>
            <!-- 13 --><td></td>
            <!-- 14 --><td></td>
            <!-- 15 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/v3po.svg"></td>
            <!-- 16 --><td>Science</td>
            <!-- 17 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lh.svg"></td>
            <!-- 18 --><td>Integrated Human Practices</td>
            <!-- 19 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lh.svg"></td>
            <!-- 20 --><td>Society</td>
            <!-- 21 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/t3bvr.svg"></td>
            <!-- 22 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhv.svg"></td>
            <!-- 23 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhv.svg"></td>
            <!-- 24 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhv.svg"></td>
            <!-- 25 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhv.svg"></td>
            <!-- 26 --><td>Treatment Implementation</td>
            <!-- 27 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhv.svg"></td>
            <!-- 28 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhv.svg"></td>
            <!-- 29 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhv.svg"></td>
            <!-- 30 --><td class="has-popup" onclick="openPopup({{ .Get "t-tuemmler" }})">{{ .Get "tuemmler" }}</td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 10 -->
          <tr>
            <!-- 1 --><td class="has-popup" onclick="openPopup({{ .Get "t-ruppl" }})">{{ .Get "ruppl" }}</td>
            <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/s6p.svg"></td>
            <!-- 4 --><td></td>
            <!-- 5 --><td></td>
            <!-- 6 --><td></td>
            <!-- 7 --><td class="has-popup" onclick="openPopup({{ .Get "t-strohmeyer" }})">{{ .Get "strohmeyer" }}</td>
            <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c1o.svg"></td>
            <!-- 9 --><td></td>
            <!-- 10 --><td></td>
            <!-- 11 --><td></td>
            <!-- 12 --><td></td>
            <!-- 13 --><td></td>
            <!-- 14 --><td></td>
            <!-- 15 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lvo.svg"></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lvr.svg"></td>
            <!-- 22 --><td></td>
            <!-- 23 --><td></td>
            <!-- 24 --><td></td>
            <!-- 25 --><td></td>
            <!-- 26 --><td></td>
            <!-- 27 --><td></td>
            <!-- 28 --><td></td>
            <!-- 29 --><td></td>
            <!-- 30 --><td></td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 11 -->
          <tr>
            <!-- 1 --><td class="has-popup" onclick="openPopup({{ .Get "t-bender" }})">{{ .Get "bender" }}</td>
            <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhp.svg"></td>
            <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c2p.svg"></td>
            <!-- 4 --><td></td>
            <!-- 5 --><td></td>
            <!-- 6 --><td></td>
            <!-- 7 --><td class="has-popup" onclick="openPopup({{ .Get "t-xmu" }})">{{ .Get "xmu" }}</td>
            <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/s3o.svg"></td>
            <!-- 9 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c1o.svg"></td>
            <!-- 10 --><td></td>
            <!-- 11 --><td></td>
            <!-- 12 --><td></td>
            <!-- 13 --><td></td>
            <!-- 14 --><td></td>
            <!-- 15 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lvo.svg"></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lvr.svg"></td>
            <!-- 22 --><td></td>
            <!-- 23 --><td></td>
            <!-- 24 --><td></td>
            <!-- 25 --><td></td>
            <!-- 26 --><td></td>
            <!-- 27 --><td></td>
            <!-- 28 --><td></td>
            <!-- 29 --><td></td>
            <!-- 30 --><td></td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 12 -->
          <tr>
            <!-- 1 --><td></td>
            <!-- 2 --><td></td>
            <!-- 3 --><td></td>
            <!-- 4 --><td></td>
            <!-- 5 --><td></td>
            <!-- 6 --><td></td>
            <!-- 7 --><td class="has-popup" onclick="openPopup({{ .Get "t-tuemmler" }})">{{ .Get "tuemmler" }}</td>
            <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lho.svg"></td>
            <!-- 9 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/t4o.svg"></td>
            <!-- 10 --><td>Outer Membrane Vesicles</td>
            <!-- 11 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lho.svg"></td>
            <!-- 12 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lho.svg"></td>
            <!-- 13 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lho.svg"></td>
            <!-- 14 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lho.svg"></td>
            <!-- 15 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/s6og.svg"></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c3r.svg"></td>
            <!-- 22 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhr.svg"></td>
            <!-- 23 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c1r.svg"></td>
            <!-- 24 --><td></td>
            <!-- 25 --><td></td>
            <!-- 26 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c4r.svg"></td>
            <!-- 27 --><td class="has-popup" onclick="openPopup({{ .Get "t-tk" }})">{{ .Get "tk" }}</td>
            <!-- 28 --><td></td>
            <!-- 29 --><td></td>
            <!-- 30 --><td></td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 13 -->
          <tr>
            <!-- 1 --><td></td>
            <!-- 2 --><td></td>
            <!-- 3 --><td class="has-popup" onclick="openPopup({{ .Get "t-zheng" }})">{{ .Get "zheng" }}</td>
            <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 5 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c1g.svg"></td>
            <!-- 6 --><td></td>
            <!-- 7 --><td class="has-popup" onclick="openPopup({{ .Get "t-mei" }})">{{ .Get "mei" }}</td>
            <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lho.svg"></td>
            <!-- 9 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c2o.svg"></td>
            <!-- 10 --><td></td>
            <!-- 11 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c4g.svg"></td>
            <!-- 12 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 13 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 14 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 15 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c2g.svg"></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td></td>
            <!-- 22 --><td></td>
            <!-- 23 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lvr.svg"></td>
            <!-- 24 --><td></td>
            <!-- 25 --><td></td>
            <!-- 26 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lvr.svg"></td>
            <!-- 27 --><td></td>
            <!-- 28 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c4r.svg"></td>
            <!-- 29 --><td class="has-popup" onclick="openPopup({{ .Get "t-grundmann" }})">{{ .Get "grundmann" }}</td>
            <!-- 30 --><td></td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 14 -->
          <tr>
            <!-- 1 --><td></td>
            <!-- 2 --><td class="has-popup" onclick="openPopup({{ .Get "t-walentek" }})">{{ .Get "walentek" }}</td>
            <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 5 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/s5g.svg"></td>
            <!-- 6 --><td></td>
            <!-- 7 --><td></td>
            <!-- 8 --><td></td>
            <!-- 9 --><td></td>
            <!-- 10 --><td></td>
            <!-- 11 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lvg.svg"></td>
            <!-- 12 --><td></td>
            <!-- 13 --><td></td>
            <!-- 14 --><td></td>
            <!-- 15 --><td></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td></td>
            <!-- 22 --><td></td>
            <!-- 23 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c3r.svg"></td>
            <!-- 24 --><td>Health Care and Prevention</td>
            <!-- 25 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhr.svg"></td>
            <!-- 26 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/t3r.svg"></td>
            <!-- 27 --><td>Hospitals</td>
            <!-- 28 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/v1r.svg"></td>
            <!-- 29 --><td></td>
            <!-- 30 --><td></td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 15 -->
          <tr>
            <!-- 1 --><td></td>
            <!-- 2 --><td class="has-popup" onclick="openPopup({{ .Get "t-helmstaedter" }})">{{ .Get "helmstaedter" }}</td>
            <!-- 3 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 5 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/t4g.svg"></td>
            <!-- 6 --><td>Modeling</td>
            <!-- 7 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 8 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 9 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 10 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 11 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c2g.svg"></td>
            <!-- 12 --><td></td>
            <!-- 13 --><td></td>
            <!-- 14 --><td></td>
            <!-- 15 --><td></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td></td>
            <!-- 22 --><td></td>
            <!-- 23 --><td></td>
            <!-- 24 --><td></td>
            <!-- 25 --><td></td>
            <!-- 26 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lvr.svg"></td>
            <!-- 27 --><td></td>
            <!-- 28 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c3r.svg"></td>
            <!-- 29 --><td class="has-popup" onclick="openPopup({{ .Get "t-rieg" }})">{{ .Get "rieg" }}</td>
            <!-- 30 --><td></td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 16 -->
          <tr>
            <!-- 1 --><td class="has-popup" onclick="openPopup({{ .Get "t-helmstaedter" }})">{{ .Get "helmstaedter" }}</td>
            <!-- 2 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 3 --><td class="has-popup" onclick="openPopup({{ .Get "t-donker" }})">{{ .Get "donker" }}</td>
            <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 5 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/s6g.svg"></td>
            <!-- 6 --><td></td>
            <!-- 7 --><td></td>
            <!-- 8 --><td></td>
            <!-- 9 --><td></td>
            <!-- 10 --><td></td>
            <!-- 11 --><td></td>
            <!-- 12 --><td></td>
            <!-- 13 --><td></td>
            <!-- 14 --><td></td>
            <!-- 15 --><td></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td></td>
            <!-- 22 --><td></td>
            <!-- 23 --><td></td>
            <!-- 24 --><td></td>
            <!-- 25 --><td></td>
            <!-- 26 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c3r.svg"></td>
            <!-- 27 --><td>Public Health Matters</td>
            <!-- 28 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhr.svg"></td>
            <!-- 29 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhr.svg"></td>
            <!-- 30 --><td class="has-popup" onclick="openPopup({{ .Get "t-kroeger" }})">{{ .Get "kroeger" }}</td>
            <!-- 31 --><td></td>
          </tr>
    <!-- row 17 -->
          <tr>
            <!-- 1 --><td></td>
            <!-- 2 --><td></td>
            <!-- 3 --><td class="has-popup" onclick="openPopup({{ .Get "t-dzubiella" }})">{{ .Get "dzubiella" }}</td>
            <!-- 4 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/lhg.svg"></td>
            <!-- 5 --><td><img src="https://static.igem.wiki/teams/5057/mindmap/c2g.svg"></td>
            <!-- 6 --><td></td>
            <!-- 7 --><td></td>
            <!-- 8 --><td></td>
            <!-- 9 --><td></td>
            <!-- 10 --><td></td>
            <!-- 11 --><td></td>
            <!-- 12 --><td></td>
            <!-- 13 --><td></td>
            <!-- 14 --><td></td>
            <!-- 15 --><td></td>
            <!-- 16 --><td></td>
            <!-- 17 --><td></td>
            <!-- 18 --><td></td>
            <!-- 19 --><td></td>
            <!-- 20 --><td></td>
            <!-- 21 --><td></td>
            <!-- 22 --><td></td>
            <!-- 23 --><td></td>
            <!-- 24 --><td></td>
            <!-- 25 --><td></td>
            <!-- 26 --><td></td>
            <!-- 27 --><td></td>
            <!-- 28 --><td></td>
            <!-- 29 --><td></td>
            <!-- 30 --><td></td>
            <!-- 31 --><td></td>
          </tr>
        
        </table>
      </div>
    </div>
  </div>
</div>