<div class="team-member">
    <div class="team-member-inner">
      <div class="supervisor-front tc">
        <h2>{{ .Get "name" }}</h2>
        <div class="image-container">
          <img src="https://static.igem.wiki/teams/5057/turnaround.svg" class="turnaroundimg">
          <img src="{{ .Get "image" }}" alt="{{ .Get "name" }}" class="br3">
        </div>
      </div>
      <div class="team-member-back br3">
        <h3>{{ .Get "name" }}</h3>
        <h3>{{ .Get "role" }}</h3>
        <p>{{ .Get "bio" }}</p>
        <h3>Your highlight during iGEM</h3>
        <p>{{ .Get "highlight" }}</p>
        <a href="{{ .Get "linkedIn"}}" class="teamlinkedin absolute right-0 bottom-0 w-20 tr" target="_blank">
          <img src="https://static.igem.wiki/teams/5057/social-icons/linkedinblue.svg" alt="LinkedIn-Icon">
        </a>
      </div>
    </div>
  </div>