{{ define "main" }}
  <div class="main scrollsource w-50">
    <div class="container special">
        <h2 class="f1">Information about AMPs</h2>
        <p class="f2">Canvas Rendering context 2D can be used to draw and animate stuff on a webpage</p>
        <p class="f2">some test</p>
    </div>    
    <div class="container">
        <div class="vertical_path startpoint ma2">
            <img id="e_coli" src="https://static.igem.wiki/teams/5057/e-coli-b.svg" alt="e_coli">
            <div class="plasmid_container"><img id="plasmid" src="https://static.igem.wiki/teams/5057/plasmid.svg" alt="plasmid"></div>
        </div>
        <div class="ma2">
            <h2 class="f1">Plasmid with AMP</h2>
            <p class="f2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
    </div>

    <div class="horizontal_path ma2">
        <div class="anchor"></div>
    </div>
    
    <div class="container">
        <div class="ma2">
            <h2 class="f1">Liposome delivery</h2>
            <p class="f2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
        <div class="vertical_path ma2">
            <div class="anchor"></div>
        </div>
    </div>
    
    <div class="horizontal_path ma2">
        <div class="anchor"></div>
    </div>

    <div class="container">
        <div class="vertical_path ma2">
            <div class="anchor"></div>
        </div>
        <div class="ma2">
            <p class="f2">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
    </div>       
    
    <div class="vertical_path ma2">
        <div class="drop_container"><img id="drop" src="https://static.igem.wiki/teams/5057/drop.svg" alt="drop"></div>
        <div class="anchor"> </div>
    </div>
    
    <div class="vertical_path ma2">
        <div class="anchor"></div>
    </div>

    <div id="lipid-container">
        <div class="svg-container" id="svg-1">
            <svg class="svg-1">
                <path class="path1" d="M 0,0 L 10,0 L 20,0 L 30,0 L 40,0 L 50,0 L 60,0 L 70,0 L 80,0 L 90,0 L 100,0 L 110,0 L 120,0" data-path-to="M 100,0 A 100,100 0 0,1 100,200 A 100,100 0 0,1 99,0"/>
            </svg>
        </div>
    </div>

    <div class="vertical_path ma2">
        <div class="anchor"></div>
    </div>

    <script src="/freiburg/js/gsap/gsap.min.js"></script>
    <script src="/freiburg/js/gsap/MotionPathPlugin.min.js"></script>
    <script src="/freiburg/js/gsap/ScrollTrigger.min.js"></script>
</div>
{{ end }}
